In [24]:
import pandas as pd

df= pd.read_csv("Batting_2019.csv")

df= pd.DataFrame(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108789 entries, 0 to 108788
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  108789 non-null  object
 1   yearID    108789 non-null  int64
 2   stint     108789 non-null  int64
 3   teamID    108789 non-null  object
 4   lgID      108052 non-null  object
 5   G         108789 non-null  int64
 6   AB        108789 non-null  int64
 7   R         108789 non-null  int64
 8   H         108789 non-null  int64
 9   2B        108789 non-null  int64
 10  3B        108789 non-null  int64
 11  HR        108789 non-null  int64
 12  RBI       108033 non-null  float64
 13  SB        106421 non-null  float64
 14  CS        85248 non-null   float64
 15  BB        108789 non-null  int64
 16  SO        106689 non-null  float64
 17  IBB       72139 non-null   float64
 18  HBP       105973 non-null  float64
 19  SH        102721 non-null  float64
 20  SF        72686 non-null   float64
 21  GIDP      83348 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 18.3+ MB

In [25]:
df = df.loc[df['yearID'] == 2018]

In [26]:
df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
104325,abreujo02,2018,1,CHA,AL,128,499,68,132,36,...,78.0,2.0,0.0,37,109.0,7.0,11.0,0.0,6.0,14.0
104326,acunaro01,2018,1,ATL,NL,111,433,78,127,26,...,64.0,16.0,5.0,45,123.0,2.0,6.0,0.0,3.0,4.0
104327,adamewi01,2018,1,TBA,AL,85,288,43,80,7,...,34.0,6.0,5.0,31,95.0,3.0,1.0,1.0,2.0,6.0
104328,adamja01,2018,1,KCA,AL,31,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104329,adamsau02,2018,1,WAS,NL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0